@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: 'Roboto', sans-serif;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* SCROLLBAR */

  ::-webkit-scrollbar {
      width: 7px;
      background-color: #336699;
    }
  
  ::-webkit-scrollbar-track {
	  border-radius: 0px;
	  background-color: #336699;/* Color of the track */
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #578FC7; /* Color of the thumb */
    border-radius: 6px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #A3C2E0; /* Color of the thumb on hover */
  }


/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}